In [9]:
import pandas as pd
# Directory containing the Excel files
directory = "datasets"

# List to store data from each Excel file
data_frames = []

# Loop through all files in the directory
for file in os.listdir(directory):
    if file.endswith(".csv"):  # Check for CSV files
        file_path = os.path.join(directory, file)
        
        # Clean the column names by removing leading/trailing spaces and standardizing them
        df.columns = df.columns.str.strip()  # Strip any leading/trailing spaces
        df.columns = df.columns.str.replace(' ', '_')  # Replace spaces with underscores
        df.columns = df.columns.str.replace('[^A-Za-z0-9_]', '', regex=True)  # Remove any non-alphanumeric characters

        # Append the DataFrame to the list
        data_frames.append(df)

# Combine all DataFrames into one
data = pd.concat(data_frames, ignore_index=True)
data.to_csv("combo.csv", index=False)

In [19]:
data.columns

Index(['property_id', 'type', 'activation_date', 'bathroom', 'floor',
       'total_floor', 'furnishing', 'gym', 'latitude', 'longitude',
       'lease_type', 'lift', 'locality', 'parking', 'property_age',
       'property_size', 'swimming_pool', 'pin_code', 'rent', 'deposit',
       'building_type'],
      dtype='object')

In [16]:
import pandas as pd

# Load combo.csv and photos.tsv (with tab-separated values)
combo_data = pd.read_csv("combo.csv")
photos_data = pd.read_csv("photos.tsv", sep='\t')  # Specify '\t' as delimiter for TSV


# Clean column names for both DataFrames
combo_data = clean_column_names(combo_data)
photos_data = clean_column_names(photos_data)

# Ensure 'property_id' is the same type in both DataFrames (string)
combo_data['property_id'] = combo_data['property_id'].astype(str)
photos_data['property_id'] = photos_data['property_id'].astype(str)

# Merge the data on 'property_id' to add 'photo_urls' from photos.tsv to combo.csv
merged_data = combo_data.merge(photos_data[['property_id', 'photo_urls']], on='property_id', how='left')

# Display the merged DataFrame


# Save the merged DataFrame to a new CSV file
merged_data.to_csv("bigdata.csv", index=False)

merged_data

,property_id,type,activation_date,bathroom,floor,total_floor,furnishing,gym,latitude,longitude,...,locality,parking,property_age,property_size,swimming_pool,pin_code,rent,deposit,building_type,photo_urls
0,ff8080814ab0ae37014ab8bc9d00069e,BHK3,04-02-2017 15:58,2,2,2.0,SEMI_FURNISHED,0,12.928101,77.538513,...,Hosakerehalli,BOTH,2,1350,0,560085.0,15000,150000,IF,[]
1,ff8081814cf0d662014cf52db60d1199,BHK3,14-03-2017 18:35,2,0,3.0,SEMI_FURNISHED,0,12.935106,77.532103,...,Hosakerehalli,TWO_WHEELER,2,1200,0,560085.0,9000,90000,IF,"[{\title\"":\""Outside\"",\""name\"":\""3-bhk-house-..."
2,ff8081814de81414014dece810bf2366,BHK2,10-03-2017 16:59,2,1,4.0,SEMI_FURNISHED,0,12.923035,77.537344,...,Hosakerehalli,BOTH,1,1172,0,560085.0,12000,80000,AP,"[{\title\"":\""\"",\""name\"":\""files[]\"",\""imagesM..."
3,ff8081814f65c3e0014f696afb461437,BHK2,19-03-2017 19:02,1,2,2.0,SEMI_FURNISHED,0,12.930609,77.540018,...,Hosakerehalli,TWO_WHEELER,6,850,0,560085.0,10000,100000,IF,NaN
4,ff8081814feeadcd014fef6551200917,BHK1,30-03-2017 12:27,1,0,1.0,NOT_FURNISHED,0,12.930412,77.539884,...,Hosakerehalli,TWO_WHEELER,1,400,0,560085.0,6000,60000,IF,"[{\title\"":\""\"",\""name\"":\""files[]\"",\""imagesM..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9275,ff8081815af9faba015afa0b4ce30909,RK1,23-03-2017 15:40,1,3,3.0,SEMI_FURNISHED,0,12.914803,77.539757,...,Hosakerehalli,TWO_WHEELER,2,300,0,560061.0,5000,50000,IF,NaN
9276,ff8081815af9faba015afa934a1f424c,BHK2,23-03-2017 16:28,2,1,2.0,SEMI_FURNISHED,0,12.928194,77.542917,...,Hosakerehalli,TWO_WHEELER,5,900,0,560085.0,14000,140000,IF,"[{\title\"":\""\"",\""name\"":\""files[]\"",\""imagesM..."
9277,ff8081815afb7797015afbc679ee14bc,BHK1,24-03-2017 18:11,1,0,1.0,NOT_FURNISHED,0,12.930371,77.539822,...,Hosakerehalli,TWO_WHEELER,1,1100,0,560085.0,7000,80000,IH,NaN
9278,ff8081815b15c304015b1984b2577257,BHK1,29-03-2017 20:27,1,2,3.0,SEMI_FURNISHED,0,12.928391,77.541901,...,Hosakerehalli,TWO_WHEELER,4,300,0,560085.0,6000,50000,IF,NaN
9279,ff8081815b199e90015b1aabc7bf3aa3,RK1,29-03-2017 22:11,1,4,4.0,SEMI_FURNISHED,0,12.917618,77.534987,...,Hosakerehalli,TWO_WHEELER,1,400,0,560061.0,3000,30000,IF,"[{\title\"":\""\"",\""name\"":\""image\"",\""imagesMap..."

In [30]:
# Read the HSR_Layout.csv file
hsr_layout_data = pd.read_csv('datasets/HSR_Layout.csv', encoding='ISO-8859-1')

# Count the number of properties in HSR Layout
hsr_layout_count = len(hsr_layout_data)

# Count the total number of properties in bigdata
total_properties = len(bigdata)

# Calculate the percentage of properties in HSR Layout
percentage_hsr_layout = round((hsr_layout_count / total_properties) * 100)

# Print the result
print(f"Percentage of properties in HSR Layout: {percentage_hsr_layout}%")

Percentage of properties in HSR Layout: 6%

In [32]:
merged_data['locality'].unique()

array(['Hosakerehalli'], dtype=object)

In [34]:
import os
import pandas as pd

# Directory containing the CSV files
directory = 'datasets'

# List to store average rent for each locality
locality_avg_rent = []

# Loop through all CSV files in the directory
for file in os.listdir(directory):
    if file.endswith(".csv"):  # Check for CSV files
        file_path = os.path.join(directory, file)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path, encoding='ISO-8859-1')  # Adjust encoding if necessary
        
        # Check if 'rent' column exists and calculate the average rent for this locality
        if 'rent' in df.columns:
            avg_rent = df['rent'].mean()  # Calculate the average rent
            locality_name = os.path.splitext(file)[0]  # Remove the file extension to get the locality name
            locality_avg_rent.append((locality_name, avg_rent))  # Store locality name and average rent

# Convert the list to a DataFrame for better readability
avg_rent_df = pd.DataFrame(locality_avg_rent, columns=['Locality', 'Average Rent'])

# Find the locality with the highest average rent
max_rent_locality = avg_rent_df.loc[avg_rent_df['Average Rent'].idxmax()]

# Print the locality with the highest average rent
print(f"The locality with the highest average rent is: {max_rent_locality['Locality']} with an average rent of {max_rent_locality['Average Rent']}")

The locality with the highest average rent is: Bellandur with an average rent of 25949.46325878594

In [36]:
import pandas as pd

# Assuming the DataFrame is already loaded and named 'bigdata'

# Calculate the correlation matrix
correlation_matrix = bigdata[['bathroom', 'property_age', 'property_size', 'deposit', 'rent']].corr()

# Get the correlation values with respect to 'rent'
rent_correlation = correlation_matrix['rent']

# Find the feature with the highest correlation with 'rent'
highest_corr_feature = rent_correlation.drop('rent').idxmax()
highest_corr_value = rent_correlation[highest_corr_feature]

# Print the feature with the highest correlation to 'rent'
print(f"The feature with the highest correlation to 'rent' is: {highest_corr_feature} with a correlation value of {highest_corr_value}")

The feature with the highest correlation to 'rent' is: bathroom with a correlation value of 0.6327501496590155

In [37]:
import pandas as pd

# Read the two CSV files
bigdata = pd.read_csv('bigdata.csv')
property_interactions = pd.read_csv('property_interactions.csv')

# Merge the two datasets on the 'property_id' column
merged_data = pd.merge(bigdata, property_interactions, on='property_id', how='left')



# Optionally, save the merged data to a new CSV file
merged_data.to_csv('alldata.csv', index=False)

                        property_id  type   activation_date  bathroom  floor  \
0  ff8080814ab0ae37014ab8bc9d00069e  BHK3  04-02-2017 15:58         2      2
1  ff8081814cf0d662014cf52db60d1199  BHK3  14-03-2017 18:35         2      0
2  ff8081814de81414014dece810bf2366  BHK2  10-03-2017 16:59         2      1
3  ff8081814de81414014dece810bf2366  BHK2  10-03-2017 16:59         2      1
4  ff8081814de81414014dece810bf2366  BHK2  10-03-2017 16:59         2      1

   total_floor      furnishing  gym   latitude  longitude  ...      parking  \
0          2.0  SEMI_FURNISHED    0  12.928101  77.538513  ...         BOTH
1          3.0  SEMI_FURNISHED    0  12.935106  77.532103  ...  TWO_WHEELER
2          4.0  SEMI_FURNISHED    0  12.923035  77.537344  ...         BOTH
3          4.0  SEMI_FURNISHED    0  12.923035  77.537344  ...         BOTH
4          4.0  SEMI_FURNISHED    0  12.923035  77.537344  ...         BOTH

   property_age property_size swimming_pool  pin_code   rent  deposit  \
0             2          1350             0  560085.0  15000   150000
1             2          1200             0  560085.0   9000    90000
2             1          1172             0  560085.0  12000    80000
3             1          1172             0  560085.0  12000    80000
4             1          1172             0  560085.0  12000    80000

   building_type                                         photo_urls  \
0             IF                                                 []
1             IF  [{\title\":\"Outside\",\"name\":\"3-bhk-house-...
2             AP  [{\title\":\"\",\"name\":\"files[]\",\"imagesM...
3             AP  [{\title\":\"\",\"name\":\"files[]\",\"imagesM...
4             AP  [{\title\":\"\",\"name\":\"files[]\",\"imagesM...

          request_date
0                  NaN
1                  NaN
2  2017-03-11 09:39:16
3  2017-03-20 08:23:03
4  2017-03-19 17:51:37

[5 rows x 23 columns]

In [39]:
merged_data.columns

Index(['property_id', 'type', 'activation_date', 'bathroom', 'floor',
       'total_floor', 'furnishing', 'gym', 'latitude', 'longitude',
       'lease_type', 'lift', 'locality', 'parking', 'property_age',
       'property_size', 'swimming_pool', 'pin_code', 'rent', 'deposit',
       'building_type', 'photo_urls', 'request_date'],
      dtype='object')

In [41]:
import pandas as pd

# Assuming the activation_date and request_date are in the format 'DD-MM-YYYY HH:MM'
# Convert to datetime using the specific format
merged_data['activation_date'] = pd.to_datetime(merged_data['activation_date'], format='%d-%m-%Y %H:%M', errors='coerce')
merged_data['request_date'] = pd.to_datetime(merged_data['request_date'], format='%d-%m-%Y %H:%M', errors='coerce')

In [42]:
import pandas as pd

# Convert to datetime and let pandas infer the format
merged_data['activation_date'] = pd.to_datetime(merged_data['activation_date'], errors='coerce')
merged_data['request_date'] = pd.to_datetime(merged_data['request_date'], errors='coerce')

In [46]:
import pandas as pd

# Ensure the 'activation_date' column is in datetime format
merged_data['activation_date'] = pd.to_datetime(merged_data['activation_date'], errors='coerce')

# Group by activation_date and count the number of properties activated on each date
activation_counts = merged_data['activation_date'].value_counts().reset_index()

# Rename columns for clarity
activation_counts.columns = ['activation_date', 'property_count']

# Sort by property_count in descending order to find the most activated dates
activation_counts_sorted = activation_counts.sort_values(by='property_count', ascending=False)

# Print the top dates with the highest number of property activations
print(activation_counts_sorted.head())

      activation_date  property_count
0 2017-02-25 11:30:00            1280
1 2017-02-18 20:57:00             896
2 2017-02-25 22:33:00             768
3 2017-03-20 15:56:00             512
4 2017-03-10 16:59:00             448